# word_knowledge.py: 2
PyDictionary == 1.5.2

# main.py: 8
# startup.py: 15
SpeechRecognition == 3.7.1
PyAudio == 0.2.11

# news_update.py: 13
feedparser == 5.2.1

# main.py: 20
# output_voice.py: 1
gTTS == 1.2.0

# play_music.py: 22
lxml == 3.8.0

# do_math.py: 2
num2words == 0.5.5

# play_music.py: 20
pafy == 0.5.3.1

# main.py: 12
# play_music.py: 21
python_vlc == 1.1.2

# play_music.py: 23
requests == 2.17.3

# main.py: 164
# wiki_search.py: 12
wikipedia == 1.4.0

# weather_forecast.py: 3
yahooweather == 0.8

# startup.py: 17
# weather_forecast.py: 2
yweather == 0.1.1

cssselect == 1.0.1
